<section class='list-section'> 
   <nav class='nav-bar'>
      <%= link_to groups_path do%>
        <h5><i class="fa fa-arrow-left" aria-hidden="true"></i></h5>
      <% end %>

      <h5><%= link_to 'Show', @group %></h5>
  </nav>
  <h1 class='dark-color'>Editing Group</h1>

  <%= render 'form', group: @group %>
</section>