<section class='list-section'> 
  <nav class='nav-bar'>
    <%= link_to groups_path do%>
      <h5><i class="fa fa-arrow-left" aria-hidden="true"></i></h5>
    <% end %>
  </nav>

  <h1 class='dark-color'>New Group</h1>

  <%= render 'form', group: @group %>

</section>
