<section class="list-section">

  <nav class='nav-bar'>
    <%= link_to user_path(current_user) do%>
      <h5><i class="fa fa-arrow-left" aria-hidden="true"></i></h5>
    <% end %>
    <h5>LITERATURE CLUB</h5>
  </nav>

  <% @users.each do |user|%>
    <%= link_to reader_path(user) do%>
      <div class='list-item'> 

      <%=display_user_image(user, 'image-div', '/assets/group2.png')%>

        <h4 class='list-item-details book-name-date'><%= user.name %></h4>
      </div>
    <% end %>
  <% end %>

</section>