<section class="list-section">

  <nav class='nav-bar'>
    <%= link_to user_path(current_user) do%>
      <h5><i class="fa fa-arrow-left" aria-hidden="true"></i></h5>
    <% end %>
    <h5>LITERATURE CLUB</h5>
    <h5><%= link_to 'Home', user_path(current_user)%></h5>
  </nav>

  <%= display_users_list(@users)%>

</section>